.footer {

  background: #1f2937;
  color: white;
  padding-top: 50px;
  margin-top: 50px;

}

.footer-container {

  width: 90%;
  margin: auto;

  display: grid;

  grid-template-columns:
  repeat(auto-fit, minmax(220px, 1fr));

  gap: 30px;

}

.footer-section h2 {

  font-size: 45px;

  font-weight: 900;

  letter-spacing: 2px;

  color: #8bc34a;

  text-transform: uppercase;

  margin-bottom: 25px;

  text-shadow:
    0 0 10px rgba(139,195,74,0.5),
    0 0 20px rgba(139,195,74,0.3);

}

.footer-section h3 {

  font-size: 34px;

  font-weight: 800;

  letter-spacing: 1px;

  color: #8bc34a;

  margin-bottom: 25px;

  position: relative;

  display: inline-block;

  text-transform: uppercase;

}

.footer-section h3::after {

  content: "";

  position: absolute;

  left: 0;

  bottom: -8px;

  width: 60px;

  height: 4px;

  background: #8bc34a;

  border-radius: 10px;

}

.footer-section p {

  line-height: 1.8;

}

.footer-section a {

  display: block;

  color: white;

  text-decoration: none;

  margin-bottom: 10px;

  transition: 0.3s;

}

.footer-section a:hover {

  color: #8bc34a;
  transform: translateX(5px);

}

.footer-bottom {

  text-align: center;

  padding: 20px;

  margin-top: 40px;

  border-top:
   1px solid rgba(255,255,255,0.2);

}